.env
.env.local
.env.production
.env.geetabitan
gcs-key*
venv/
__pycache__/
*.pyc
*.pyo
node_modules/
ui/dist/
*.db
*.log
arcl_sessions.db
.DS_Store
.idea/
*.egg-info/
dist/
build/

# Firebase cache
.firebase
ui/.firebase/
.firebase/
.deploy-config